{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Page Builder <small>Using Angular & Symfony</small></h1>
        </div>
        {% verbatim %}
            <div class="row" ng-controller="PageBuilderController as builder">
                <div class="col-lg-3" ng-controller="MenuController as menu">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne1">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                        Layout
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
                                <div class="panel-body">
                                    <div class="list-group first layout" ui-sortable="sortableOptions" ng-model="components.layouts">
                                        <a href="#" class="list-group-item active item" ng-repeat="item in components.layouts track by $index">
                                            <h4 class="list-group-item-heading"><i class="fa fa-arrows"></i> {{item.title}}</h4>
                                            <p class="list-group-item-text"><i class="fa fa-th-list"></i> {{item.text}}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Header
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="list-group first header" ui-sortable="sortableOptions" ng-model="components.headers">
                                        <a href="#" class="list-group-item active item" ng-repeat="item in components.headers track by $index">
                                            <h4 class="list-group-item-heading"><i class="fa fa-arrows"></i>{{item.title}}</h4>
                                            <p class="list-group-item-text">{{item.title}}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingGraphicals">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseGraphicals" aria-expanded="false" aria-controls="collapseGraphicals">
                                        Composants graphique
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseGraphicals" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingGraphicals">
                                <div class="panel-body">
                                    <div class="list-group first header" ui-sortable="sortableOptions" ng-model="components.graphicals">
                                        <a href="#" class="list-group-item active item" ng-repeat="item in components.graphicals track by $index">
                                            <h4 class="list-group-item-heading"><i class="fa fa-arrows"></i>{{item.title}}</h4>

                                            <div isteven-multi-select
                                                 input-model="item.data"
                                                 output-model="item.fields"
                                                 button-label="name"
                                                 item-label="name"
                                                 tick-property="ticked">
                                            </div>

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Footer
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Footers
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 page-builder"  ng-controller="ContentController as content" >
                    <div class="panel panel-primary">
                        <div class="panel-heading"> <h3 class="panel-title">Panel title</h3> </div>
                        <div id="sortable" class="apps-container panel-body" ui-sortable="sortableOptions" ng-model="items">
                            <div ng-repeat="item in items track by $index" class="item">
                                <tg-dynamic-directive ng-if="item.type = 'layout'" ng-model="item" tg-dynamic-directive-view="getView">
                                </tg-dynamic-directive>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/ng-template" id="nestable_item.html">
                <div><i class="fa fa-arrows"></i><span class="danger" ng-click="remove(item, $index)">[X]</span> {{ composant.title}}</div>
            </script>
            <script type="text/ng-template" id="model_item.html">
                <div    isteven-multi-select
                input-model="{{item.data}}"
                output-model="item.field"
                button-label="name"
                item-label="name"
                tick-property="ticked">
                </div>
            </script>
            <script type="text/ng-template" id="nestable_item_1.html">
                <div><i class="fa fa-arrows"></i><span class="danger" ng-click="remove(item, $index)">[X]</span><div ng-controller="SummerNoteController"><summernote config="options"></summernote></div></div>
            </script>
            <script type="text/ng-template" id="graphical_item.html">
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                    <div class="pull-right">
                            <div class="handle-move"><i class="fa fa-arrows"></i></div>
                            <div class="handle-remove" ng-click="remove(item, $index)" style="cursor:pointer"><i class="fa fa-times"></i></div>
                     </div>
                    <h2>{{composant.title}}</h2>
                    <span>{{composant.text}}</span>
                </tr>
                <tr>
                    <th ng-repeat ="data in composant.fields">{{data.name}}</th>
            </tr>
                </head>
                <body>
                </body>
            </table>
            </script>
            <script type="text/ng-template" id="layout.html">
                <div class="row">
                <div class="placeholder-container">
                <div class="placeholder">
                <div class="placeholder-content col-md-12" ng-model="item"  ng-if="item.title === '1 Column'">
                <div ng-model="item.composants" class="placeholder-content-area apps-container" ui-sortable="sortableOptions">
                <div ng-repeat="composant in item.composants track by $index" class="composant">
                <tg-dynamic-directive ng-if="composant.type !='layout'" ng-model="composant" tg-dynamic-directive-view="getView">
                </tg-dynamic-directive>
                </div>
                </div>
                </div>
                <div class="placeholder-content col-md-6" ng-if="item.title === '2 Columns'">
                <div ng-model="item.left" class="placeholder-content-area apps-container" ui-sortable="sortableOptions">
                <div ng-repeat="composant in item.left track by $index" class="left">
                <tg-dynamic-directive ng-if="composant.type !='layout'" ng-model="composant" tg-dynamic-directive-view="getView">
                </tg-dynamic-directive>
                </div>
                </div>
                </div>
                <div class="placeholder-content col-md-6" ng-if="item.title === '2 Columns'">
                <div ng-model="item.right" class="placeholder-content-area apps-container" ui-sortable="sortableOptions">
                <div ng-repeat="composant in item.right track by $index" class="right">
                <tg-dynamic-directive ng-if="composant.type !='layout'" ng-model="composant" tg-dynamic-directive-view="getView">
                </tg-dynamic-directive>
                </div>
                </div>
                </div>
                </div>
                <div class="placeholder-handle ui-sortable-handle">
                <div class="handle-move"><i class="fa fa-arrows"></i></div>
                <div class="handle-remove" ng-click="remove($index)" style="cursor:pointer"><i class="fa fa-times"></i></div>
                </div>
                </div>
                </div>
            </script>
            <script type="text/ng-template" id="models">
            </script>
        {% endverbatim %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("assets/vendor/summernote/dist/summernote.min.js")}}"></script>
    <script src="{{ asset("assets/vendor/angular-summernote/dist/angular-summernote.min.js")}}"></script>
{% endblock %}
{% block stylesheets %}
    <style>
        .placeholder-over{
            border: 2px #337ab7 dotted;
            background-color: #f5f5f5;
        }
        .page-builder .placeholder-handle {
            background-color: #ffffff;
            display: block;
            height: 100%;
            left: -22px;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 22px;
            -webkit-transition: all 0.15s ease-out;
            -moz-transition: all 0.15s ease-out;
            -o-transition: all 0.15s ease-out;
            -ms-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
        }
        .page-builder .placeholder-container, .page-builder .placeholder, .page-builder .placeholder-content {
            background: #f5f5f5;
        }
        .page-builder .placeholder-container, .page-builder .placeholder, .page-builder .placeholder-content {
            background: #f5f5f5;
        }
        .page-builder .placeholder-container {
            float: left;
            margin-bottom: 5px;
            margin-top: 5px;
            padding: 0;
            position: relative;
            transition: opacity 200ms ease;
            width: 100%;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        .page-builder .placeholder-container, .page-builder .placeholder, .page-builder .placeholder-content {
            background: #f5f5f5;
        }
        .page-builder .placeholder-container, .page-builder .placeholder, .page-builder .placeholder-content {
            background: #f5f5f5;
        }
        .page-builder .placeholder {
            background-color: #ffffff;
            float: left;
            position: relative;
            width: 100%;
            -webkit-transition: opacity 0.2s ease;
            -moz-transition: opacity 0.2s ease;
            -o-transition: opacity 0.2s ease;
            -ms-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease;
        }
        .page-builder .placeholder-handle > div {
            text-align: center;
        }
        .page-builder .handle-move {
            margin-top: 5px;
            width: 100%;
        }
        .page-builder .placeholder-handle i {
            color: rgba(0, 0, 0, 0.5);
            display: inline-block;
            font-size: 11px;
        }
        .page-builder .placeholder-container:hover .placeholder-handle {
            opacity: 1;
        }
        .page-builder .placeholder-container:hover .placeholder-handle i{
            color: #ffffff;
            opacity: 1;
        }
        .page-builder .placeholder-handle:hover {
            background-color: #337ab7!important;
            cursor: move;
        }
        .page-builder .placeholder-handle {
            background-color: #ffffff;
            display: block;
            height: 100%;
            left: -22px;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 22px;
            -webkit-transition: all 0.15s ease-out;
            -moz-transition: all 0.15s ease-out;
            -o-transition: all 0.15s ease-out;
            -ms-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
        }
        .page-builder .placeholder-container, .page-builder .placeholder, .page-builder .placeholder-content {
            background: #f5f5f5;
        }
        .page-builder .placeholder-container, .page-builder .placeholder, .page-builder .placeholder-content {
            background: #f5f5f5;
        }
        .page-builder .placeholder-content {
            float: left;
            height: 100%;
            min-height: 55px;
            padding: 15px;
            position: relative;
        }
        .page-builder .placeholder-content-area {
            height: 100%;
            padding: 21px;
            background-color: #ffffff;
        }
    </style>
    <link rel="stylesheet" href="{{ asset("assets/vendor/summernote/dist/summernote.css")}}"/>
{% endblock %}
