{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Test création</h1>
        <div class="row" ng-controller="ModelEntityController as model">
            {{ form_start(form) }}
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}<br>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}<br>
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }} <br>
            {{ form_label(form.attributes) }}
            {% verbatim %}
                <div ng-show="hasAttributes()" ng-repeat="attribute in entity.attributes track by $index">
                    Field:<select ng-model="attribute.name">
                        <option ng-repeat="option in modelAttributes">{{option}}</option>
                    </select>
                    label :<input ng-model="attribute.label">
                    <button class="btn btn-danger btn-sm" ng-click="removeAttribute(index)"><i class="fa fa-plus"></i></button> <br>

                </div>
            {% endverbatim %}
            <button class="btn btn-success  btn-sm" ng-click="addAttribute()"><i class="fa fa-plus"></i></button> <br>
            <input type="submit" ng-click="save()" value="Create" />
            {{ form_end(form) }}

            <ul>
                <li>
                    <a href="#{#{{ path('modelentity_index') }}#}">Back to the list</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("js/controllers/model.entity.controller.js")}}"></script>
{% endblock %}
