{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modelentity</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ modelEntity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ modelEntity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ modelEntity.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ modelEntity.type }}</td>
            </tr>
            <tr>
                <th>Attributes</th>
                <td>{% if modelEntity.attributes %}{{ modelEntity.attributes|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('modelentity_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('modelentity_edit', { 'id': modelEntity.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
