{% extends "::base.html.twig" %}

{% block title %}AppBundle:Model:show{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Welcome to the Model:show page</h1>
        </div>
        <div class="row model">
            <div  ng-controller="ModelTemplateController">
                <div class="page-header">
                    <h1>{{model.name}} <small></small></h1>
                </div>
                {% for item in model.content %}
                    {% if item.type == "layout" and item.title== "1 Column" %}
                        <div class="col-md-12">
                            {% set composants = item.composants %}
                            {% for composant in composants %}
                                {% if composant.tpl == "header" %}
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            {{composant.text |raw }}
                                        </div>
                                    </div>
                                {% elseif composant.tpl == "table" %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">{{composant.title}}</div>
                                        <div class="panel-body">
                                            {{composant.description}}
                                        </div>
                                        <table class="table">
                                            <thead>
                                                {% for head in composant.fields %}
                                                <th>{{head.label}}</th>
                                                {% endfor %}
                                            </thead>
                                            <tbody>
                                                {{dump(composant)}}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% elseif item.type == "layout" and item.title== "2 Columns" %}
                        <div class="col-md-6">
                            {% set left = item.left %}
                            {% for leftComp in left %}
                                {% if leftComp.tpl == "header" %}
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            {{ include(template_from_string(leftComp.text|raw)) }}
                                        </div>
                                    </div>
                                {% elseif leftComp.tpl == "table" %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">{{ include(template_from_string(leftComp.title|raw))}}</div>
                                        <div class="panel-body">
                                            {{ include(template_from_string(leftComp.description|raw)) }}
                                        </div>
                                        <table class="table">
                                            <thead>
                                                {% for head in leftComp.fields %}
                                                <th>{{ include(template_from_string(head.label|raw))}}</th>
                                                {% endfor %}
                                            </thead>
                                            <tbody>
                                                {{dump(leftComp)}}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                            {% set right = item.right %}
                            {% for rightComp in right %}
                                {% if rightComp.tpl == "header" %}
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            {{ include(template_from_string(rightComp.text|raw)) }}
                                        </div>
                                    </div>
                                {% elseif rightComp.tpl == "table" %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">{{ include(template_from_string(rightComp.title))}}</div>
                                        <div class="panel-body">
                                            {{ include(template_from_string(rightComp.description))}}
                                        </div>
                                        <table class="table">
                                            <thead>
                                                {% for head in rightComp.fields %}
                                                <th>{{ include(template_from_string(head.label))}}</th>
                                                {% endfor %}
                                            </thead>
                                            <tbody>
                                                {{dump(rightComp)}}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif%}
                {% endfor %}

            </div>
        </div>
    </div>
    <style>
        .model{
            background:#EEE;
        }
    </style>
{% endblock %}
